<h1>Plots</h1>
<hr>

<div id="plots"></div>

<script>
    console.log('We are in the plots index...S')

    function createCanvas(){
        let elCanvas
        for (let i=1; i<= mySymbols.length; i++){
            elCanvas = document.createElement('canvas')
            elCanvas.setAttribute("id",`myChart${i}`
        }
    }
    
    createCanvas()
    



            let `ctx${i}` = document.getElementById(`myChart+${i}`).getContext('2d')
            for (obj in objs)
            let `myBarChart${i}` = new Chart(`ctx${i}`, {
            type: 'line',
            data: {
                    labels: objs.labels,
                    datasets: [{
                        label: '# 4. close',
                        data: objs.data }]
                    },
            // options: {
            //     scales: {
            //         yAxes: [{
            //             ticks: {
            //                 beginAtZero: true
            //             }
            //         }]
            //     }
            // }
})

        }
    }


</script>
 
   



